
    <aside>
        <h5>Main</h5>
        <ul>
            <li> <a href="javascript:void(0)">Home</a></li>
            <li class="sub-menu"><a href="javascript:void(0)">
                    Orders &amp; Reviews
                    <span class="notfication-dot"></span></a></li>
            <li><a href="javascript:void(0)">Collection Point</a></li>
            <li class="sub-menu"><a href="javascript:void(0)">Products</a></li>
            <li class="sub-menu open"> <a href="javascript:void(0)">Grocery Products </a>
                <ul>
                    <li><a href="javascript:void(0)">Manage Grocery Products </a></li>
                    <li><a routerLink="/grocery-product/import-product-list">Import List<span class="number">75</span></a></li>
                </ul>
                <a routerLink="/grocery-product/available-product-list" class="add-available-products">Add Available Products</a>
            </li>
            <li class="sub-menu"> <a href="javascript:void(0)">Promotions</a> </li>
            <li class="sub-menu"> <a href="javascript:void(0)">Marketing</a> </li>
            <li class="sub-menu"> <a href="javascript:void(0)">Finance</a> </li>
            <li class="sub-menu"> <a href="javascript:void(0)">My Account</a> </li>
        </ul>
        <h5 class="close">SELLER SECTION</h5>
    </aside>
